services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    restart: always
    volumes:
      - ./data:/app/data
    networks:
      - app-network
    expose:
      - "8080"


networks:
  app-network:
    driver: bridge
